[Unit]
Description=FRC Service Inventory Agent

[Service]
Type=oneshot
EnvironmentFile=/etc/frc-agent.env
User=frc-agent
Group=frc-agent
ExecStart=/usr/local/bin/frc-agent-services
